* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #e8e8e8;
}

.dialog-square .mdc-dialog__surface {
  border-radius: 0 !important;
}
